#Primer konfiguracije za DATABASE. OBVEZNO spremeni DB_PASSWORD na nekaj bolj varnega.
DB_HOST=express_mysql
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=db_bkeep

#Primer konfiguracije za JWT. OBVEZNO spremeni JWT_SECRET na nekaj bolj varnega. Uporabi: https://jwtsecret.com/generate
JWT_SECRET=secret
JWT_ALGORITHM=HS256

#MQTT
MQTT_HOST="c658728d56404b908ec770ff56fc9a76.s1.eu.hivemq.cloud"
MQTT_PORT=8883
MQTT_USERNAME=bkeep
MQTT_PASSWORD=<password>

#Firebase
FIREBASE_PVT_KEY=<key>
FIREBASE_PVT_KEY_ID=<key_id>
FIREBASE_EMAIL=<firebase_email>
FIREBASE_PROJECT_ID=<project_id>