# npm
node_modules
#package-lock.json to je za github actions
npm-shrinkwrap.json
*.log
*.gz
# za jetbrai
.idea
# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore